.skills {
    min-height: 650px;
    height: fit-content;
    margin-left: 10%;
    margin-right: 10%;
}

.skillsTitle {
    color: #19c113;
    text-align: center;
}

.skillIcons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    position: relative;
    top: 7em;
}

#iconskill {
    transition: all 0.2s;
}

#iconskill:hover {
    transform: scale(1.2);
}

.iconName {
    text-align: center;
    color: #19c113;
}

#reactIcon {
    padding-top: 8px;
}

@media only screen and (max-width: 259px){
  svg {
      width: 40px;
  }
}