.skills {
    min-height: 550px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
    height: fit-content;
    margin-top: 100px;
}

.skillsTitle {
  color: var(--green-font);
  text-align: center;
}

.skillIcons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    position: relative;
    top: 7em;
}

#iconskill {
    transition: all 0.2s;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#iconskill:hover {
    transform: scale(1.2);
}

.iconName {
    text-align: center;
    color: var(--green-font);
    margin-bottom: 0;
}

#reactIcon {
    padding-top: 8px;
}

@media screen and (max-width: 656px) {
  svg {
    width: 60px;
  }
}

@media only screen and (max-width: 259px){
  svg {
      width: 40px;
  }
}