.contact {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    height: 30vh;
    margin-top: 6em;
    position: relative;
    top: 20em;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 4em;
}

.contactTitle {
    color: #19c113;
    text-align: center;
}

.contacts {
    text-align: center;
    word-wrap: break-word;
    padding: 2em;
    color: white;
}

.linkButtons {
    color: #19c113;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin-bottom: 2em;
}

.linkButton {
    padding: 4px 10px;
    color: #19c113;
    border: 1px solid #19c113;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s;
}

.linkButton:hover {
    color: #22c8ce;
    /* background-color: rgb(47, 53, 51); */
}

@media only screen and (max-width: 276px){
    .contact {
        position: relative;
        top: 50em;
    }
}

@media screen and (max-width: 287px) {
    .linkButtons {
        padding-bottom: 1em;
    }
}