:root {
  --green-font: #19c113;
  --component-background: rgb(37, 37, 37);
  --desc-color:rgb(196, 189, 189);
}

.components {
    display: flex;
    flex-direction: column;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

