:root {
  --green-font: #19c113;
  --component-background: rgb(37, 37, 37);
  --desc-color:rgb(224, 219, 219);
  --btn-hover: #43c6cf;
}

.components {
    display: flex;
    flex-direction: column;
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

